body {
  font-size: 16px;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  background-color: #ecf3f3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2% 4%;
}

.appHeadingcontainer {
  background-color: #ffffff;
  align-self: center;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appHeadingcontainer>p {
  font-family: Raleway;
  color: #30302d;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
}